[package]
name = "wgpu-openxr-example"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3.24"
wgpu = "0.13.1"
winit = "0.27.3"
